ode_decomp/control_res/*
ode_decomp/start_res/*
ode_decomp/price_res/*
game_theory/single_class_output_1/*
game_theory/single_class_output_2/*
game_theory/single_class_combined_1.csv
game_theory/single_class_combined_2.csv
